<div class="container">
  <div class="gamewindow">
    <p id="text"></p>
    <div class="appendTarget text-center display">
      <p id="miss"></p>
    </div>
  </div>

<script>
  var textLists = <%= raw @questions %>;
  var p = document.getElementById('text');
  var checkTexts =[];
  var count = 0;
  var miss = 0;
  createText(0);
  try {
    document.addEventListener('keydown', function keydown(e){
      if(e.key === checkTexts[0].textContent){
        checkTexts[0].className = 'add-blue';
        console.log(e.key);
        checkTexts.shift();
        if(!checkTexts.length) {
          count++;
          console.log(count);
          createText(count);
        }
      }else if(e.key != checkTexts[0].textContent) {
        miss++;
      }
    });
    
  } catch (e) {
    console.error(e);
  }


  function createText(count){
    p.textContent = '';
    if (count < textLists.length){
      checkTexts = textLists[count].split('').map(function(value){
        var span = document.createElement('span');
        span.textContent = value;
        p.appendChild(span);
        return span;
      });
    }else {
      var display = document.getElementsByClassName('display')[0];
      var missText = document.getElementById('miss');
      var linkbtn = document.createElement('a');
      var appendTarget = document.getElementsByClassName('appendTarget')[0];
      p.textContent = "終了です"
      display.classList.remove('display');
      missText.textContent = 'ミス回数:' + miss + '回';
      linkbtn.href = "/game/result?miss=" + miss;
      linkbtn.textContent = "結果発表";
      linkbtn.className = "btn btn-primary";
      appendTarget.appendChild(linkbtn);
    }
  }
</script>