<div class="top">
  <div class="shadow">
    <div class="text-center title">
      <h1>Programming Typing Games</h1>
      <%= link_to  "Git command", game_git_path, class: "btn btn-dark" %>
      <%= link_to  "Rails command", game_rails_path, class: "btn btn-dark" %>
      <%= link_to  "Linux command", game_linux_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>