<div class="top">
  <div class="shadow">
    <div class="text-center title">
      <h1>Programming Typing Games</h1>
      <%= link_to  "Start", typing_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>