<div class="container">
  <h1>test</h1>
  <div class="gamewindow">
    <p id="text"></p>
    <div class="text-center display">
      <p id="miss">miss</p>
       
    </div>
  </div>

<script>
  var textLists = <%= raw @typings %>;
  var p = document.getElementById('text');
  var checkTexts =[];
  var count = 0;
  var miss = 0;
  createText(0);
  try {
    document.addEventListener('keydown', function keydown(e){
      if(e.key === checkTexts[0].textContent){
        checkTexts[0].className = 'add-blue';
        console.log(e.key);
        checkTexts.shift();
        if(!checkTexts.length) {
          count++;
          console.log(count);
          createText(count);
        }
      }else if(e.key != checkTexts[0].textContent) {
        miss++;
      }
    });
    
  } catch (e) {
    console.error(e);
  }


  function createText(count){
    p.textContent = '';
    if (count < textLists.length){
      checkTexts = textLists[count].split('').map(function(value){
        var span = document.createElement('span');
        span.textContent = value;
        p.appendChild(span);
        return span;
      });
    }else {
      p.textContent = "終了です"
      var display = document.getElementsByClassName('display')[0];
      display.classList.remove('display');
      var missText = document.getElementById('miss');
      missText.textContent = 'ミス回数:' + miss + '回';
      var linkbtn = document.createElement('a');
      linkbtn.href = "/typing/result?miss=" + miss;
      linkbtn.textContent = "送信";
      linkbtn.className = "btn";
      missText.appendChild(linkbtn);
    }
  }
</script>